form {
    border: 1px solid #E5E5E5;
    padding: 1.5rem;
    border-radius: 15px;
    text-align: center;
    width: 28rem;
}

form > * {
    margin-bottom: 2rem;
}

#formProductName, #formPrice, #formDescription {
    text-align: center;
}

#formDescription {
    min-height: 8rem;
}

.form-check {
    text-align: left;
}

button.btn {
    background: var(--colorYellow);
    border: none;
    border-radius: 15px;
    color: #ffffff;
    font-weight: bold;
    padding: 0.8rem 1.5rem;
    box-shadow: 1px 2px 2px 2px #0000003f;
}